<table class="min-w-full divide-y divide-gray-700">
  <thead class="bg-gray-700">
  <tr>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Job ID</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Image</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Command</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Status</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Logs</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Created At</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Started At</th>
    <th class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Ended At</th>
  </tr>
  </thead>
  <tbody class="bg-gray-800 text-white divide-y divide-gray-700">
  {{ range . }}
  <tr>
    <td class="px-4 py-3 whitespace-nowrap">{{ .ID }}</td>
    <td class="px-4 py-3 whitespace-nowrap">{{ .Image }}</td>
    <td class="px-4 py-3 whitespace-pre">{{ join .Command " " }}</td>
    <td class="px-4 py-3 whitespace-nowrap">{{ .Status }}</td>
    <td class="px-4 py-3 whitespace-pre-wrap">
      <button onclick="window.open('/logs/{{ .ID }}', '_blank')">View Logs</button>
    </td>
    <td class="px-4 py-3 whitespace-nowrap" data-timestamp="{{ .CreatedAt.Format "2006-01-02T15:04:05Z07:00" }}">{{ .CreatedAt }}</td>
    <td class="px-4 py-3 whitespace-nowrap" data-timestamp="{{ if .StartedAt.IsZero }}-{{ else }}{{ .StartedAt.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}">{{ if .StartedAt.IsZero }}Not started{{ else }}{{ .StartedAt }}{{ end }}</td>
    <td class="px-4 py-3 whitespace-nowrap" data-timestamp="{{ if .EndedAt.IsZero }}-{{ else }}{{ .EndedAt.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}">{{ if .EndedAt.IsZero }}Not ended{{ else }}{{ .EndedAt }}{{ end }}</td>
  </tr>
  {{ end }}
  </tbody>
</table>
